* {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    background-color: #171717;
}

header {
    padding: 10px;
}

header h1 {
    text-align: center;
    color: #f7e018;
    font-size: 50px;
}
header p {
    color: #e0e0e0;
    text-align: center;
    font-size: 30px;
}
header p a {
    text-decoration: none;
    color: #0075FF;
}

.DOM {
    max-width: 120rem;
    margin: 0 auto;
}
.DOM h2 {
    color: #FFF;
    text-align: center;
}
.DOM nav a {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}
.DOM p {
    color: #0075FF;
    font-size: 20px;
}

.DOM #formulario {
    max-width: 500px;
    margin: 0 auto;
}
.DOM #formulario input {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.DOM #formulario input[type="submit"] {
    background-color: #0075FF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFF;
}

.alerta {
    padding: 1rem;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
}
.alerta.error {
    background-color: rgb(162, 0, 0);
}
.alerta.exito {
    background-color: rgb(7, 145, 7);;
}
